#kkfinder-root {
  overflow: auto;
  min-height: 100px;
  max-height: 100vh;
  top: 5px;
  right: 5px;
  width: 450px;
  position: fixed;
  z-index: 2147483646;
  background: #ffffff;
  border: #3d8bcd 1px solid;
  border-radius: 8px;
}
